.main-header {
    color:rgb(20, 13, 105);
    text-align: center;
    font-size:xx-large;
    font-family: "Coming Soon";
    text-shadow: 3px 3px 3px white;
}

body {
    background-color: rgb(185, 220, 238);
}

/** centering div {
    display: flex;
    justify-content: center;
    align-items: center;
}
