/* bubble animation from https://codepen.io/Momika/pen/ydaWmQ */
.bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background: rgb(51, 51, 92);
    border-radius:50%;
    opacity:0.5;
    animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    background: white;
    animation-duration:8s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
    background: white;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    background: white;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
    background: white;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
    background: white;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }
  
  /* end of bubble animation css... i changed bubble colors and added a second color to random sections.*/

 /* creating image variables0... if I can ever get them on there */
 :root { 
    --orca: url('/images/orca.png');
    --sealion: url('/images/sealion.png');
    --rays: url('/images/rays.png');
    --seaturtle: url('/images/seaturtle.png');
}
 /* css for basic page */
body {
    background-color: rgb(185, 220, 238);
    font-family: "Coming Soon";
    box-sizing: border-box;
    justify-content: center;
}

.centerButton {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    color:rgb(20, 13, 105);
    text-align: center;
    font-weight:500;
    font-size: 45pt;
    font-display: flex;
    text-shadow: 3px 3px 3px white;
}

.animalImage {
    width: 125px;
    height: auto;
}

.game-header {
    color:rgb(16, 12, 62);
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

.board {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px 100px;
    border: 1px, dashed;
    cursor:pointer;
}
    
.cell {
    height: 100px;
    border: 1px solid rgb(16, 12, 62);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(20, 13, 105);
    text-shadow: 3px 3px 3px white;
    cursor: pointer;
    background-color: white;
    opacity: 50%;
}

#endMessage {
    color:  rgb(16, 12, 62);
    margin: 20px;
    font-size: large;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.footer-text {
    font-size: x-small;
    margin-left: 10px;
    font-style: italic;
}


/* .cell.x, .cell.x2,
.cell.y, .cell.y2{
    cursor: not-allowed;
}

.board.x .cell:not(.x):not(.y):hover{
    background: var(--orca)rgb(185, 220, 238)  no-repeat;
    opacity: 0.8;
}

.board.x2 .cell:not(.x2):not(.y2):hover{
    background: var(--rays) rgb(185, 220, 238)no-repeat;
    opacity: 0.8;
}

.board.y .cell:not(.y):not(.x):hover{
    background: var(--sealion)rgb(185, 220, 238) no-repeat;
    opacity: 0.8;
}

.board.y2 .cell:not(.y2):not(.x2):hover{
    background: var(--seaturtle)rgb(185, 220, 238) no-repeat;
    opacity: 0.8;
} */

/* .cell.x {
    background: var(--orca) no-repeat;
    background-size: cover;
}

.cell.x2 {
    background: var(--rays) no-repeat;
    background-size: cover;
}


.cell.y {
    background: var(--sealion) no-repeat;
    background-size: cover;
}

.cell.y2 {
    background: var(--seaturtle) no-repeat;
    background-size: cover;
} */
